/* Header */

.header {
  justify-content: space-between;
  padding: 0.8rem 7rem 0.8rem 0;
  z-index: 100;
}

nav.nav_menu {
  display: flex;
}

nav.nav_menu a {
  font-size: 1.6rem;
  padding: 0.5rem;
  color: var(--white);
  font-family: "Cooper Hewitt";
  text-decoration: none;
  letter-spacing: 0.2rem;
  right: 0;
  margin-right: 2.5rem;
}

nav.nav_menu a:hover,
nav.nav_menu a.active {
  color: rgb(44, 131, 189);
  padding: 0.5rem;
  border-bottom: 1px solid rgb(44, 131, 189);
  transition: all 0.5s;
}

nav.nav_menu.not-active a {
  display: flex;
}

div.btn {
  display: none;
}

/* Home */

.home {
  display: flex;
  flex-direction: row-reverse;
  /* padding-bottom: 4rem; */
  height: 100vh;
}

.container_image-home {
  width: 55%;
}

.image_home {
  object-fit: contain;
  height: 680px;
}

.home_info {
  width: 50%;
  padding-left: 6rem;
  /* margin-top: 50px; */
}

.container_text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0.2rem;
  text-align: start;
  margin-top: 6rem;
}

.home_text-1 {
  font-size: 5rem;
  margin-left: 0.4rem;
  font-weight: bold;
}

.home_text-2 {
  font-size: 7rem;
  font-weight: bold;
  color: rgb(44, 131, 189);
  margin-top: -25px;
}

.home_text-3 {
  display: inline;
  margin: 0 0 3rem 0;
  font-size: 3rem;
  text-align: start;
}

.container_parrafo-info {
  display: inline-block;
  text-align: start;
}

.container_parrafo-info p {
  font-family: "Cooper Hewitt";
  color: var(--light-grey);
  margin-top: 80px;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 2.8rem;
}



.container_button {
  display: flex;
}

.cv_button {
  background: none;
  color: rgb(44, 131, 189);
  border: 1px solid rgb(44, 131, 189);
  margin-right: 1rem;
  transition: 0.2s;
}

.cv_button:hover {
  background: var(--black);
  box-shadow: 0px 2px 10px #141414;
  transition: 1s transform;
}

.contact_button {
  display: inline-block;
  background-color: rgb(44, 131, 189);
  border-radius: 3rem;
  padding: 0.7rem 4rem 0.6rem 4rem;
  color: var(--jet);
  font-family: "Cooper Hewitt";
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0 2rem 1rem;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.contact_button:hover {
  background-color: #726d97;
  box-shadow: 0px 2px 10px #141414;
  transition: 1s transform;
}

.links {
  width: 5%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 3rem 2rem 3rem;
}

.links img {
  margin: 0.7rem 0 0.7rem 0;
}

.links .icon-CodePen {
  margin: 0.7rem 0 0.7rem 0.2rem;
}

/* Sobre Mí */

/* .sobreMi {
  padding-bottom: 4rem;
} */

.sobreMi h1 {
  margin-bottom: 4rem;
  font-size: 3rem;
  color:rgb(44, 131, 189);
}

.container_content-sobreMi {
  flex-direction: row-reverse;
}

.container_texto-sobreMi {
  width: 70%;
  padding: 0 5% 0 3rem;
}

/* .title_sobreMi {
  text-align: start;
  font-size: 2.8rem;
  letter-spacing: 0.3rem;
  margin-top: 50px;
} */

.texto_sobreMi {
  text-align: start;
  font-size: 1.9rem;
  letter-spacing: 0.2rem;
  line-height: 2.8rem;
}



/* Formación */

.formacion {
  padding: 8rem 0 3rem 0;
  position: relative;
}

.formacion h1 {
  font-size: 3rem;
}

.cards--formacion:hover {
  border: 1px solid rgb(44, 131, 189);
  box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%),
    0 25px 10px -24px rgb(5 5 5 / 10%);
  transform: scale(1.1);
  transition: 0.4s all;
}

/* Proyectos */

.proyectos h1 {
  padding-top: 6rem;
  font-size: 3rem;
}
.proyectos h6 {
  font-size: 1.5rem;
}

.cards_container--proyectos {
  flex-direction: row;
  /* justify-content: center; */
}

.cards--proyectos {
  width: 40rem;
  height: 55rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-bottom: 6.5rem;
  z-index: 1;
}

.text-portafolio {
  margin-top: -3rem;
}

.container_btn--proyectos button {
  width: auto;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

/* Contacto */

.contacto h1 {
  padding: 8rem 0 2.5rem 0;
  font-size: 3rem;
}

.container_box--contacto {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.container_img--contacto {
  display: inline-block;
  width: 60rem;
  display: flex;
  justify-content: center;
}

.container_img--contacto img {
  width: 50rem;
  object-fit: contain;
}

.container--contacto {
  width: 50%;
  margin: 0;
  padding: 4rem 3rem;
}



@media only screen and (max-width: 1300px) {
  
  .image_home {
    width: 40rem;
  }
  .container_parrafo-info p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 2.8rem;
  }
  .home_text-2 {
    font-size: 5rem;
    margin-bottom: 1rem;

  }
  .home_text-1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .header {
    padding-right: 0;
  }
  .home_text-3 {
   font-size: 2rem;
  }
  .home {
    padding: 0;
  }
  .image_sobreMi {
    display: none;
  }
  .container_texto-sobreMi {
    margin: 0;
    width: auto;
    padding: 5rem 10rem 5rem 10rem;
  }
  .container_content-sobreMi {
    flex-direction: column;
}
}
